<link rel="stylesheet" href="/css/diary/diary.css">
<div class="row mx-auto row-diary">


	<div class="container home col">
		<h3>Date:{{DiaryDate}}</h3>
		<h3>Title</h3>
		<form method="post" name="dairyForm" id="dairyForm" enctype="application/json" class="form-group">
			<textarea name="Message" class="MessageBox form-control" readonly> {{DiaryContent}} </textarea>
			<h1>Sentiment:{{DiarySentiment}}</h1>
			<br>
		</form>
	</div> 

		<div class="list-group diary-sidebar col pl-10">
		<h3>Events:</h3>
		{{#each diaries}}
			<a href="#" class="list-group-item list-group-item-action flex-column align-items-start py-0">
				<div class="row">
					<div class="d-flex col col-2 border border-black px-0">
					<p class="mb-1">{{DiaryDate}}</p>
					</div>
					<div class="col-6">
						<p class="mb-1">{{DiaryContent}}</p>
					</div>
				</div>
			</a>
		{{/each}}
	</div>


</div>
<script>

</script>